@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animated.rotating {
  animation: rotating 0.5s linear infinite;
}

/*# sourceMappingURL=rotating.css.map */
