extends ../layout

block css
    link(href='/css/posts.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css' rel='stylesheet')
    link(href='/css/comments.min.css' rel='stylesheet')
    link(href='/css/quill-comment.min.css' rel='stylesheet')

block html
    -
        const i18n = __('community').readPost;

    #post-information.d-flex.flex-row.justify-content-around
        .d-flex.flex-row
            i.material-icons account_box
            span#post-nickname

        .d-flex.flex-row
            i.material-icons visibility
            span#post-views

        .d-flex.flex-row
            i.material-icons access_time
            span#post-date

    .separating-line

    #post-content

    .separating-line

    // comment
    #comments-container.d-flex.flex-column

    if isSignedIn
        div: #editor
        div.text-center.d-flex.flex-row.align-items-center
            input#is-private-comment(type='checkbox')
            label(for='is-private-comment') #{i18n.comment.private}
            button#new-comment.submit: span #{i18n.comment.write}
            button#update-comment.submit(style='display: none;'): span #{i18n.comment.edit}
            button#cancel-update-comment.submit(style='display: none') #{i18n.comment.cancel}

append js
    script(src='/js/fetchPost.min.js')

    script.
        const postNickname = document.getElementById('post-nickname');
        const postViews = document.getElementById('post-views');
        const postDate = document.getElementById('post-date');
        const postContent = document.getElementById('post-content');
        const commentsContainer = document.getElementById('comments-container');
        const postId = #{postId};

        fetchPost(postId, '');

    // comment
    if isSignedIn
        script(src='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js')
        script(src='/js/fetchNewComment.min.js')
        script(src='/js/fetchUpdateComment.min.js')
        script(src='/js/fetchDeleteComment.min.js')
        script(src='/js/enableWaitButton.min.js')
        script(src='/js/disableWaitButton.min.js')
        script.
            const quill = new Quill('#editor', {
                placeholder: '#{i18n.comment.contentPlaceHolder}',
                theme: 'snow'
            });

            const isPrivateComment = document.getElementById('is-private-comment');
            const newComment = document.getElementById('new-comment');
            const newCommentText = newComment.getElementsByTagName('span')[0];
            const updateComment = document.getElementById('update-comment');
            const updateCommentText = updateComment.getElementsByTagName('span')[0];
            const cancelUpdateComment = document.getElementById('cancel-update-comment');
            let updateTarget = null;

            newComment.addEventListener('click', () => {
                enableWaitButton(newComment, newCommentText);

                fetchNewComment(() => {
                    disableWaitButton(newComment, newCommentText, '#{i18n.comment.write}')
                });
            });

            updateComment.addEventListener('click', () => {
                enableWaitButton(updateComment, updateCommentText);

                fetchUpdateComment(updateTarget, () => {
                    disableWaitButton(updateComment, updateCommentText, '#{i18n.comment.edit}')
                });
            });

            cancelUpdateComment.addEventListener('click', () => {
                newComment.style.display = 'block';
                updateComment.style.display = 'none';
                cancelUpdateComment.style.display = 'none';

                quill.setContents(); // reset quill editor
                isPrivateComment.checked = false;
            });
