extends ../layout

block css
    link(href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.min.css' rel='stylesheet')
    link(href='/css/quill-custom.min.css' rel='stylesheet')

block html
    if isSignedIn
        -
            let i18n = __('community').writePost;
            const errorMessages = __('errorMessages');

        form#post-container.d-flex.flex-column.align-items-center
            .d-flex.flex-column.input-container
                input#post-title(type='text' placeholder=i18n.post.title required)

                div
                    input#post-password(type='password' placeholder=i18n.post.password)
                    include ../includes/passwordToggleButton

            div#editor-container
                #editor

            div.text-center: button#post-submit.submit: block submitText

append js
    -
        let i18n = __('community').writePost;
        const errorMessages = __('errorMessages');
    script(src='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js')
    script(src='/js/limitInput.min.js')
    script(src='/js/togglePassword.min.js')

    script.
        const postId = #{postId};

    if isSignedIn
        script.
            const postContainer = document.getElementById('post-container');
            const postTitle = document.getElementById('post-title');
            const postPassword = document.getElementById('post-password');
            const passwordToggle = document.getElementsByClassName('password-toggle')[0];
            const passwordToggleIcon = passwordToggle.getElementsByTagName('i')[0];
            const postSubmit = document.getElementById('post-submit');
            const postSubmitText = postSubmit.getElementsByTagName('span')[0];

            const quill = new Quill('#editor', {
                placeholder: '#{i18n.post.contentPlaceHolder}',
                theme: 'snow'
            });

            limitInput(postPassword, /[^\w !-\/:-@\[-`{-~]/g);
            togglePassword(passwordToggle, passwordToggleIcon, postPassword);
    else
        script.
            vex.dialog.alert({
                unsafeMessage: '!{errorMessages.notSignedIn}',
                callback: () => {
                    location.href = 'https://accounts.bhsjp.kro.kr/sign-in'
                }
            });
