html
    - const __menu = __('menu');
    head
        title #{title} | BHSJP

        meta(name='msapplication-TileColor' content='#000000')
        meta(name='theme-color' content='#000000')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css' rel='stylesheet')
        link(href='/css/styles.min.css' rel='stylesheet')
        link(href='/css/menu.min.css' rel='stylesheet')
        link(href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-plain.min.css' rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css' rel='stylesheet')
        link(href='/css/highlightjs-themes/tomorrow-night.min.css' rel='stylesheet')
        link(href='/css/input.min.css' rel='stylesheet')
        link(href='/css/select.min.css' rel='stylesheet')
        link(href='/css/label.min.css' rel='stylesheet')
        link(href='/css/search.min.css' rel='stylesheet')
        link(href='/css/animation/rotating.min.css' rel='stylesheet')
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#000000')
        block css

    body
        i#menu-icon.material-icons menu
        #container.d-flex.flex-row
            nav#menu-bar(data-is-opened='false')
                a#logo(href='https://bhsjp.kro.kr' title=__menu.logo.text) BHSJP

                ul
                    li
                        span.top-menus(data-is-opened='false')
                            i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                            span #{__menu.introduce.text}

                        ul.sub-menus
                            a(href='https://introduce.bhsjp.kro.kr/project'):   li #{__menu.introduce.project}
                            a(href='https://introduce.bhsjp.kro.kr/developer'): li #{__menu.introduce.developer}

                    li
                        span.top-menus(data-is-opened='false')
                            i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                            span #{__menu.community.text}

                        ul.sub-menus
                            a(href='https://community.bhsjp.kro.kr/view-posts/0'): li #{__menu.community.viewPosts}

                            if isSignedIn
                                a(href='https://community.bhsjp.kro.kr/new-post'): li #{__menu.community.writePost}

                            if owner !== undefined && owner === true
                                a(href='https://community.bhsjp.kro.kr/fix-post/' + postId): li #{__menu.community.editPost}
                                a#delete-post: li #{__menu.community.deletePost}

                    li
                        span.top-menus(data-is-opened='false')
                            i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                            span #{__menu.accounts.text}

                        if isSignedIn
                            ul.sub-menus
                                a(href='https://accounts.bhsjp.kro.kr/privacy'): li #{__menu.accounts.privacy}
                                a#sign-out: li #{__menu.accounts.signOut}
                        else
                            ul.sub-menus
                                a(href='https://accounts.bhsjp.kro.kr/sign-in'): li #{__menu.accounts.signIn}
                                a(href='https://accounts.bhsjp.kro.kr/sign-up'): li #{__menu.accounts.signUp}
                                a(href='https://accounts.bhsjp.kro.kr/find-id'): li #{__menu.accounts.findUsername}
                                a(href='https://accounts.bhsjp.kro.kr/find-password'): li #{__menu.accounts.findPassword}
                    li
                        span.top-menus(data-is-opened='false')
                            i.material-icons.justify-content-center.align-text-top.top-menu-icons keyboard_arrow_right
                            span #{__menu.partnership.text}

                            ul.sub-menus
                                a(href='http://pragboard.co.kr'): li #{__menu.partnership.pragboard}
                    li
                        span.top-menus(data-is-opened='false')
                            i.material-icons.justify-content-center.top-menu-icons keyboard_arrow_right
                            span: i.material-icons translate

                            ul.sub-menus
                                each i in [['한국어', 'ko'], ['English', 'en']]
                                    a.locales(data-locale=i[1]): li #{i[0]}

            #contents.d-flex.flex-column
                div
                    h1#title.text-center #{title}

                div
                    #main.d-flex.flex-column.align-items-center
                        block html
                footer.text-center
                    div email: dev.bhsjp@gmail.com
                    div Copyright 2020 Hong SeJung all rights reserved
                    #ad-container.d-flex.flex-row.justify-content-center
                        a(href='http://pragboard.co.kr'): img.ad(data-target='pragboard')

        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js')
        script(src='/js/toggleSubMenu.min.js')
        script(src='/js/menu.min.js')
        script(src='/js/fetchSignOut.min.js')
        script(src='/js/fetchDeletePost.min.js')
        script(src='/js/changeLocale.min.js')

        // Global site tag (gtag.js) - Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-128580084-2')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-128580084-2');

        script.
            const messages = !{JSON.stringify(__('messages'))};

        if isSignedIn
            script.
                document.getElementById('sign-out').addEventListener('click', () => {
                    fetchSignOut();
                });

        if owner !== undefined && owner
            script.
                document.getElementById('delete-post').addEventListener('click', () => {
                    vex.dialog.confirm({
                        message: messages.confirm.deletePost,
                        callback: value => {
                            if(value) {
                                fetchDeletePost(postId, '');
                            }
                        }
                    });
                });

        script.
            vex.defaultOptions.className = 'vex-theme-plain';

            for (const i of document.getElementsByClassName('locales')) {
                i.addEventListener('click', () => {
                    changeLocale(i.dataset.locale);
                });
            }

            let isLocaleSet = false;
            let isManWooJul = false;

            for (const i of document.cookie.split('; ')) {
                const cookieName = i.split('=')[0];

                switch (cookieName) {
                    case 'locale':
                        isLocaleSet = true;

                        break;

                    case 'manwoojul':
                        isManWooJul = true;

                        break;
                }
            }

            if (!isLocaleSet) {
                changeLocale('ko', false);
            }

            if (!isManWooJul) {
                document.cookie = `manwoojul=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/`;
                document.cookie = `manwoojul=f; expires=${(() => {
                    let now = new Date();
                    let time = now.getTime();

                    time += 1000 * 60 * 60 * 24;
                    now.setTime(time);

                    return now;
                })()}; path=/; domain=.bhsjp.kro.kr; secure`;

                setTimeout(() => {
                    document.write(`<div id="manwoojul" style="background-color: red; display: inline-block; width: 100vw; height: 100vh; color: white; font-size: 4rem;">
                        당신의 컴퓨터는 해킹되었습니다<br>
                        Q. 왜 이 메시지가 표시됩니까?<br>
                        A. 당신의 컴퓨터가 해킹되었기 때문입니다<br><br>

                        Q. 어떻게 해야 합니까?<br>
                        A. 200 비트코인을 d37c2aa27399ca16c66f2b73c899e4b1로 보내십시오<br>
                    </div>`)

                    setTimeout(() => {
                        document.getElementById('manwoojul').innerHTML = `<button onclick="location.reload();">오늘은 무슨 날?</button>`
                    }, 4000);
                }, 5000);
            }

        script.
            const ad = document.getElementsByClassName('ad');
            let deviceSize;

            function applyAd() {
                deviceSize = window.innerWidth < 600 ? 'phone' : 'pc';

                for (const i of ad) {
                    i.src = `https://images.bhsjp.kro.kr/ad/${i.dataset.target}/${deviceSize}-${messages.locale}.png`;
                }
            }

            applyAd();

            window.addEventListener('resize', applyAd);

        block js
            script.
                const title = document.getElementById('title');
