#comments-container {
  font-size: 13px;
  align-items: center;
}

.comment-form {
  position: relative;
}

.comments {
  border: 1.5px dashed #141414;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.comments:hover + .configure-comment,
.configure-comment:hover {
  display: block;
}

.private-comment {
  color: #555555;
  border: 1.5px dashed #555555 !important;
}

.configure-comment {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  box-shadow: 0 0 5px 5px #dddddd;
  display: none;
}
.configure-comment > button {
  font-size: 10px;
  border: 1px solid #141414;
  border-radius: 5px;
  outline: none;
  user-select: none;
}

#new-comment,
#update-comment,
#cancel-update-comment {
  font-size: 15px;
  color: #141414;
  padding: 2px;
  background-color: #aaaaaa;
  border: none;
  user-select: none;
  white-space: nowrap;
}

#cancel-update-comment {
  margin-left: 10px;
}

/*# sourceMappingURL=comments.css.map */
