.input-container {
  border: 2px #141414 solid;
}

input {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #141414;
  padding: 5px;
  outline: none;
}
input::placeholder {
  opacity: 0.3;
  color: #141414;
  user-select: none;
}

button.submit {
  font-size: 24px;
  color: #141414;
  padding: 5px;
  background-color: #aaaaaa;
  border: none;
  width: 100%;
  user-select: none;
}

.password-toggle {
  background-color: transparent;
  color: #141414;
  font-size: 24px;
  border: none;
  margin-left: -40px;
  user-select: none;
}
.password-toggle:focus {
  outline: none;
}

/*# sourceMappingURL=input.css.map */
