#container {
  height: 100vh;
}

#menu-icon {
  font-size: 30px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  user-select: none;
}

.sub-menus {
  height: 0;
  overflow: hidden;
}

#menu-bar {
  width: 0;
  overflow: hidden;
  background-color: #898989;
  color: #141414;
  transition: width 0.5s ease-in-out;
  white-space: nowrap;
}
#menu-bar i {
  font-size: 1rem;
}
#menu-bar > ul {
  margin: 10px 0 0 20px !important;
  padding-left: 0 !important;
}
#menu-bar ul {
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  list-style: none;
  margin-left: 0;
}
#menu-bar a {
  text-decoration: none;
  color: #141414;
}

/*# sourceMappingURL=menu.css.map */
