.post-items {
  font-size: 25px;
  color: #444444;
}
.post-items > i {
  color: #dc3545;
}
.post-items:visited {
  color: #606060;
}
.post-items:visited > i {
  color: #dc7383;
}
.post-items:hover {
  text-decoration: none;
  color: #222222;
}
.post-items:hover > i {
  color: #dc0007;
}

.post-edited {
  font-size: 20px;
}

.move-post {
  color: #141414;
  align-self: center;
}
.move-post:hover {
  text-decoration: none;
  color: #141414;
}
.move-post.no-target-page {
  color: #4f4f4f;
}
.move-post.no-target-page:hover {
  color: #4f4f4f;
}

#move-page {
  font-size: 1rem;
}
#move-page::-webkit-inner-spin-button, #move-page::-webkit-outer-spin-button {
  opacity: 1;
}

#move-custom-page {
  background-color: transparent;
  border: none;
  color: #141414;
}
#move-custom-page > i {
  font-size: 1rem;
}

#post-information {
  width: 50%;
}

.separating-line {
  width: 50%;
  border-bottom: 2px dashed #646464;
  margin: 10px 0;
}

label[for=is-private-comment] {
  vertical-align: text-bottom;
  white-space: nowrap;
  user-select: none;
  margin: 0 10px 0 0;
}

/*# sourceMappingURL=posts.css.map */
