body
  background-color: #dddddd
  color: #141414

#contents
  flex: 1 1 auto
  overflow: auto

#main
  margin: 50px

#logo
  margin: 10px 0 0 60px !important
  font-size: 30px
  user-select: none

#post-container
  width: 100%

.material-icons
  user-select: none

footer
  user-select: none
