extends ../layout

block html
    -
        const i18n = __('accounts').resetPassword;
        const errorMessages = __('errorMessages');

    form#reset-password-form.input-container.d-flex.flex-column
        div
            input#password(type='password' placeholder=i18n.passwordPlaceholder)
            include ../includes/passwordToggleButton
        div
            input#password-confirm(type='password' placeholder=i18n.passwordConfirmPlaceholder)
            include ../includes/passwordToggleButton
        button#submit.submit: span #{i18n.submit}

append js
    script(src='/js/limitInput.min.js')
    script(src='/js/togglePassword.min.js')
    script(src='/js/fetchChangePassword.min.js')
    script.
        const resetPasswordForm = document.getElementById('reset-password-form');
        const password = document.getElementById('password');
        const passwordConfirm = document.getElementById('password-confirm');
        const passwordToggle = document.getElementsByClassName('password-toggle');
        let passwordToggleIcon = [];
        const verificationCode = location.href.split('/').pop();

        Array.from(passwordToggle).forEach(i => {
            passwordToggleIcon.push(i.getElementsByTagName('i')[0]);
        });

        limitInput(password, /[^\w !-\/:-@\[-`{-~]/g);
        limitInput(passwordConfirm, /[^\w !-\/:-@\[-`{-~]/g);

        togglePassword(passwordToggle[0], passwordToggleIcon[0], password);
        togglePassword(passwordToggle[1], passwordToggleIcon[1], passwordConfirm);

        resetPasswordForm.addEventListener('submit', e => {
            e.preventDefault();

            if (password.value === passwordConfirm.value) {
                fetchChangePassword(verificationCode, password.value);
            } else {
                vex.dialog.alert({
                    unsafeMessage: '!{errorMessages.passwordNotMatch}'
                });
            }
        });
